@import "../../sass/variables.scss";
.form__signin {
    width: 100%;
    margin: 0 auto 200px 0;
    background-color: #fff;
    padding: 20px;
    opacity: 1;
    color: $dark;
    border-radius: 5px;
    span, a, button {
        margin-top: 12px;
        display: inline-block;
        cursor: pointer;
    }
    span:nth-child(2) {
        color: $pinkpurple
    }
}